.myPost_wrap{
  width: 45%;
}

.myPosts {
  /* width: 45%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9abba0;
  height: 82vh;
  margin-top:2vh;
  overflow-y: scroll;
}
.myPosts::-webkit-scrollbar {
  width: 3px;
}
.myPosts::-webkit-scrollbar-track {
  background-color: darkgrey;
}
.myPosts::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.post {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  width: 50vh;
  border: 3px rgba(22, 68, 3, 0.404) solid;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 15px;
}
.post_likes {
  margin: 5px 5px 0 5px;
  background-color: rgba(20, 92, 17, 0.144);
  border-radius: 15px;
}
.post_likes div {
  margin-left: 10px;
}
.post_author {
  font-weight: 700;
}
.post_icon__like {
  position: relative;
  top: 2px;
  cursor: pointer;
  outline: none;
}
.post_icon__like:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.2);
}

.post_icon__liked {
  position: relative;
  top: 2px;
  cursor: pointer;
  outline: none;
  color: rgb(255, 0, 0);
  fill: red;
}
.post_icon__liked:hover {
  transform: scale(1.2);
}
.addPost_BG{
  border-top: 2px darkgrey solid;
  background-color: #9abba0;
  height: 14vh;
  width: 100%;
  
}
.addText_wrap {
  position: fixed;
  bottom: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 12vh;
}
.addText_wrap textarea {
  
  width: 40vh;
  margin-right: 2vh;
}
.addText_wrap button {
  margin-left: 2vh;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  padding: 21px 10px;
  transition: all 0.5s ease-in-out;
  position: relative;
  bottom: 2px;
}
.addText_wrap button:hover {
  background-color: #003809;
  border-color: #003809;
  color: #fff;
}
.post_icon__delete {
  position: absolute;
  top: 10px;
  right: 10px;
}
.post_icon__delete:hover {
  scale: 1.2;
}
