.wrapperLogin.form_summary__error {
  padding: 5px;
  color: rgb(255, 0, 0);
}

.wrapperLogin {
  background-image: url("../../../assets/images/back/shutterstock_437713483-scaled.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nonSharpBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 350px;
  background-color: #fdfdfdd3;
  border-radius: 8%;
}
.loginButton {
  display: flex;
  justify-content: center;
}
.rememberMe {
  height: 40px;
  display: flex;
  align-items: center;
}
.wrapperLogin label {
  padding-left: 10px;
  padding-bottom: 15px;
}
.wrapperLogin input[type="checkbox"] {
  appearance: none; /* hide default checkbox appearance */
  border-radius: 40%;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  outline: none; /* remove outline on focus */
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.wrapperLogin input[type="checkbox"]:before {
  content: ""; /* add empty content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.wrapperLogin input[type="checkbox"]:checked:before {
  background-color: #000;
}
.wrapperLogin input[type="checkbox"]:hover {
  transform: scale(1.3);
}
.wrapperLogin input {
  width: 250px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.wrapperLogin input:focus {
  border-color: #003809;
  outline: none;
}

.wrapperLogin input.error {
  border-color: #ff4136;
}
/* styles for button */
.wrapperLogin button {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
}

/* styles for button when hovered */
.wrapperLogin button:hover {
  background-color:#003809;
  border-color: #003809;
  color: #fff;
}

/* styles for button when disabled */
.wrapperLogin button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
