.Dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.Dialogs__items {
  padding: 20px;
}
.Dialogs__item a{
  color: black;
  text-decoration: none;
}
.Dialogs__item a.active {
  color: rgb(37, 11, 109);
  
}

.Dialogs__item {
display:flex;
align-items: center;
}
.Dialogs__item a{
  padding-left: 10px;
}
.Messages{
  
}

