.users_wrap {
  height: 96vh;
  margin: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #9abba0; */
}

.users_list {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.users_currentUser {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 370px;
  justify-content: space-around;
}

.Users__avatar {
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  align-self: center;
}

.Users__avatar img {
  position: absolute;
}

.selectedPage {
  font-weight: bold;
}
.preloader_users {
  position: absolute;
  top: 70px;
}
