.app-wrapper {
  height: 100vh;
  display: grid;
  grid-template-areas: "n c";

  
  grid-template-columns: 300px 1fr;
}
.app_wrapper__pages {
  grid-area: c;
  /* background-image: url("./assets/images/back/forestClipArt.jpg"); */
  background-size: 1000px;
  background-repeat: round;
  background-color: #ccc;
}
