.app-wrapper {
  display: grid;
  grid-template-areas:
    "h c"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 300px 1fr;
  grid-gap: 1px;
}
.Avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 5px;
}