.app-wrapper {
  height: 100vh;
  display: grid;
  grid-template-areas: "n c";
  grid-template-columns: 40vh 1fr;
}
.app_wrapper__pages {
  grid-area: c;
  /* background-image: url("./assets/images/back/forestClipArt.jpg"); */
  background-size: 1000px;
  background-repeat: round;
  background-color: #ccc;
}
.preloader {
  height: 100vh;
  background: radial-gradient(circle, #604a9cd5, #9abba0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader_gif{
  height: 40px;
  width: 40px;
}