


.Messages {
  padding: 20px;
  width: 40%;
}
.Message {padding: 10px;
}
.Message.active {
  color: rgb(12, 12, 12);
}
.Message__wrap img.Avatar {
  height: 50px;
  width: 50px;
}
.Message__wrap{
  display: flex;
  align-items: center;
}