.profileInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #9abba0; */
  overflow-y: scroll;
}
.profileInfoWrapper::-webkit-scrollbar {
  width: 3px;
}
.profileInfoWrapper::-webkit-scrollbar-track {
  background-color: darkgrey;
}
.profileInfoWrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.Users__avatar {
  width: 30vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  align-self: center;
}

.Users__avatar img {
  position: absolute;
  width: 30vh;
  height: 30vh;
}

.uploadFile_wrap {
  position: relative;
  display: inline-block;
  transition: 2s;
}
.uploadFile_wrap input[type="file"] {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.upload_avatar__label {
  display: none;
  background-color: #91be92a6;
  color: white;
  padding: 8px 30px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 2s;
}
.Users__avatar:hover .upload_avatar__label {
  display: inline-block;
}

.upload_avatar__label:hover {
  background-color: rgb(58, 92, 35);
}
.profile_description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 3px rgba(22, 68, 3, 0.404) solid;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 15px;
  position: relative;
}
.profile_description__editMode {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 3px rgba(22, 68, 3, 0.404) solid;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 15px;
  position: relative;
}
.profile_description__editMode input {
  padding: 10px;
  margin-bottom: 10px;
  width: 30vh;
  border: 3px rgba(22, 68, 3, 0.404) solid;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 15px;
}
.checkbox_Profile {
  display: flex;
  align-items: center;
}
.profile_description__editMode button {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;

  background-color: #003809;
}
.profile_description__editMode button:hover {
  scale: 1.1;
}
.checkbox_Profile input {
  appearance: none; /* hide default checkbox appearance */
  border-radius: 40%;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  outline: none; /* remove outline on focus */
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.profile_status {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  width: 50vh;
  border: 3px rgba(22, 68, 3, 0.404) solid;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 15px;
}
.profile_status__text {
  cursor: pointer;
}
.profile_contacts__buttons button {
  border: none;
  cursor: pointer;
}
.profile_editIcon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 1s;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.profile_editIcon:hover {
  scale: 1.2;
}
