.addText_wrap {
  display: flex;
  width: 100%;
  margin: 2vh;
  align-items: center;
}

.addText_wrap button:hover {
  background-color: #003809;
  border-color: #003809;
  color: #fff;
}
.addText_wrap button {
  margin-left: 2vh;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
  position: relative;
  bottom: 2px;
  height: 8vh;
}
.addText_wrap textarea {
  height: 8vh;
  width: 100%;
}